@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DULCIUS EX ASPERIS</h1>
    <img src="@Url.Content("~/Content/Images/Demeter_Ceres.jpg")" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catullus LXXXV</h2>
        <p>
            Odi et amo. quare id faciam, fortasse requiris?
            nescio, sed fieri sentio et excrucior. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ovid, Amores I, 2</h2>
        <p>sic erit; haeserunt tenues in corde sagittae,
           et possessa ferus pectora versat Amor.
           Cedimus, an subitum luctando accendimus ignem?
           cedamus! leve fit, quod bene fertur, onus. </p>
    </div>
    <div class="col-md-4">
        <h2>Propertius ii,2</h2>
        <p>Liber eram et vacuo meditabar vivere lecto;
           at me composita pace fefellit Amor.
           Cur haec in terris facies humana moratur?
           Iuppiter, ignosco pristina furta tua.</p>
    </div>
</div>